{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="{% static 'img/logo_jacto.png' %}" class="logo" style="height: auto; width: 130px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li {% if 'home' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3" {% endif %}>
                    <a class="nav-link" href="">Home</a>
                </li>
                <li {% if 'vaga' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3" {% endif %}>
                    <a class="nav-link" href="{% url 'vaga' %}"> Vaga</a>
                </li>
                <li {% if 'requisito' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3" {% endif %}>
                    <a class="nav-link" href=""> Requisito</a>
                </li>
                <li {% if 'contato' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3" {% endif %}>
                    <a class="nav-link" href=""> Contato</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="">
                        <i class="fas fa-user-plus"></i> &nbsp;Registrar</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="..\pages\login.html">
                        <i class="fas fa-sign-in-alt"></i> &nbsp;Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>