{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>Acesso do Usuário - Jacto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <style>
    body{
      background-image: url('{% static 'img/fundo_jacto.jpg' %}');
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
</head>
<body>
  <div class="container" >
    <a class="links" id="paracadastro"></a>
    <a class="links" id="paralogin"></a>
     
    <div class="content">      
      <!--FORMULÁRIO DE LOGIN-->
      <div id="login">
        <form method="post" action=""> {% csrf_token %}
          <img src="{% static 'img/logo_jacto.png' %}" style="height: 130px; width:420px">
          
          {{form.as_p}}
           
          <p> 
            <input type="submit" value="Acessar" /> 
          </p>
           
          <p class="link">
            Ainda não tem conta?
            <a href="#paracadastro">Cadastre-se</a>
          </p>
        </form>
      </div>
 
      <!--FORMULÁRIO DE CADASTRO-->
      <div id="cadastro">
        <form method="post" action="">
          <img src="{% static 'img/logo_jacto.png' %}" style="height: 130px; width:420px">
          <p> 
            <label for="nome_cad">Seu nome</label>
            <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="nome" />
          </p>
           
          <p> 
            <label for="email_cad">Seu e-mail</label>
            <input id="email_cad" name="email_cad" required="required" type="email" placeholder="contato@htmlecsspro.com"/> 
          </p>
           
          <p> 
            <label for="senha_cad">Sua senha</label>
            <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="ex. 1234"/>
          </p>
           
          <p> 
            <input type="submit" value="Cadastrar"/> 
          </p>
           
          <p class="link">  
            Já tem conta?
            <a href="#paralogin"> Ir para Login </a>
          </p>
        </form>
      </div>
    </div>
  </div>  
</body>
</html>