#header {
    background: #ffffff;
    color: #000000;
    padding: 25px 40px;
    font-weight: 900;
    /* text-transform: uppercase; */
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    border-bottom: 1px solid #14a539;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #dddeff;
}
div.breadcrumbs {
    background: #13a538;
    color: #95cca3;
}
.module h2, .module caption, .inline-group h2 {
    background: #9cd6aa;
}
a:link, a:visited {
    color: #00791f;
}
#changelist #toolbar {
    padding: 8px 10px !important;
    margin-bottom: 15px !important;
    border: 1px solid #13a538 !important;
    background: #86c094 !important;
    color: #666 !important;
}
thead th {
    background: #cccccc;
}
#result_list {
    margin-top: 20px;
}
#header a:link, #header a:visited {
    color: #009f28f2;
}