.navbar.navbar-expand-lg {
    background: #42a8ff !important;
}

.navbar.navbar-expand-lg .container {
    padding: 15px 0px;
}

#navbarNavAltMarkup li a {
    font-size: 18px;
}

#main-footer {
    background: #42a8ff !important;
}

.cont-form-vaga div h2:after {
    content: "_________";
    height: 1px;
    width: 12px;
    display: block;
    margin-top: -26px;
    margin-left: 5px;
    color: #25aae1;
}

.cont-form-vaga div.col-md-6,
.cont-form-vaga div.col-md-12 {
    margin-top: 15px;
}

#btn-submit-vaga {
    color: #fff;
    background: #5b5a5d;
    width: 100%;
    height: 50px;
    font-weight: bold;
}

.cont-form-vaga div label {
    font-weight: bold;
    color: #9c9c9c !important;
}

.cont-form-vaga div.hidden {
    display: none;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    text-decoration: none;
}


/* esconde as ancoras da tela */

a.links {
    display: none;
}


/* content que contem os formulários */

.content {
    width: 500px;
    margin: 0px auto;
    position: relative;
}


/* formatando o cabeçalho dos formulários */

h1 {
    font-size: 48px;
    color: #ff554d;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

p {
    margin-bottom: 15px;
}

p:first-child {
    margin: 0px;
}

label {
    color: #ff554d;
    position: relative;
}


/**** advanced input styling ****/


/* placeholder */

::-webkit-input-placeholder {
    color: #000000;
    font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #ff554d;
    font-style: italic;
}

input {
    outline: none;
}

input:not([type="checkbox"]) {
    width: 95%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #b2b2b2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


/*estilo do botão submit */

input[type="submit"] {
    width: 100%!important;
    cursor: pointer;
    background: #ff554d;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.2s linear;
}

input[type="submit"]:hover {
    background: #ff554d;
}


/*marcando os links para mudar de um formulário para outro */

.link {
    position: absolute;
    background: #e1eaeb;
    color: #7f7c7c;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.link a {
    font-weight: bold;
    background: #ff554d;
    padding: 6px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    border: 1px solid #f7f7f7;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.link a:hover {
    color: #ffffffq;
    background: #ff554d;
    border: 1px solid #ff554d;
}


/* estilos para para ambos os formulários */

#cadastro,
#login {
    position: absolute;
    top: 0px;
    width: 88%;
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(255, 85, 77, 1.0);
    -webkit-box-shadow: 5px;
    border-radius: 5px;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

#paracadastro:target~.content #cadastro,
#paralogin:target~.content #login {
    z-index: 2;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

#registro:target~.content #login,
#paralogin:target~.content #cadastro {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}


/*fadeInLeft*/

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/*fadeOutLeft*/

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}