{% extends 'layout.html' %} {% block content %}
<div class="container cont-form-vaga" style="padding: 60px 30px 350px;">
    <div class="row">
        <h2>&nbsp;&nbsp;Vagas</h2>
    </div>
    <div class="row" style="margin-top: 60px;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ccusto</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Tipo Requisição</th>
                    <th scope="col">Tipo Contrato</th>
                    <th scope="col">Internet</th>
                    <th scope="col">Motorista</th>
                    <th scope="col">SAP</th>
                    <th scope="col">Horario de Trabalho</th>
                    <th scope="col">Consideração</th>
                </tr>
            </thead>
            <tbody>
                {% for v in vagas %}
                <tr>
                    <td>{{ v.ccusto }}</td>
                    <td>{{ v.cargo }}</td>
                    <td>{{ v.sexo }}</td>
                    <td>{{ v.tipo_requisicao }}</td>
                    <td>{{ v.tipo_contrato }}</td>
                    {% if v.internet == 1 %}
                    <td>Sim</td>
                    {% else %}
                    <td>Não</td>
                    {% endif %} {% if v.motorista == 1 %}
                    <td>Sim</td>
                    {% else %}
                    <td>Não</td>
                    {% endif %} {% if v.sap == 1 %}
                    <td>Sim</td>
                    {% else %}
                    <td>Não</td>
                    {% endif %}
                    <td>{{ v.horario_trabalho }}</td>
                    <td>{{ v.consideracao }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-md-6 offset-md-3" style="text-align: center; margin-top: 40px;">
            <a class="btn btn-large" href="{% url 'nova-vaga/' %}" id="btn-submit-vaga">NOVA VAGA</a>
        </div>
    </div>
</div>
{% endblock %}