{% extends 'layout.html' %} {% block content %}
<div class="container cont-form-vaga" style="padding: 60px 30px;">
    <div class="row">
        <h2>Criar Vaga</h2>
    </div>
    <form action="." method="POST" style="margin-top: 40px;">
        {% csrf_token %}
        <input type="hidden" id="id-tiporeq-sub" value="{{ sub.id_tiporequisicao }}">
        <div class="row">
            {% for field in form %} {% if field.name == 'consideracao' or field.name == 'horario_trabalho' %}
            <div class="col-md-12 blue">
                <label>{{ field.label }}</label> {{ field }}
            </div>
            {% elif field.name == 'funcionario_substituicao' %}
            <div class="col-md-6 blue hidden" id="hidden-div-req">
                <label>{{ field.label }}</label> {{ field }}
            </div>
            {% else %}
            <div class="col-md-6 blue">
                <label>{{ field.label }}</label> {{ field }}
            </div>
            {% endif %} {% endfor %}
            <div class="col-md-6 offset-md-3" style="text-align: center; margin-top: 40px;">
                <button type="submit" class="btn btn-large" id="btn-submit-vaga">CRIAR</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}